//color
$white: #f5f1ef;
$textdark: #343F47;
$textmidtone: #6F7C86;
$accent: #7FC8AE;
$base: #B8A4A1;
$positive: #389CD1;
$negative: #E03A34;

//margin
$marginS: 8px;
$marginM: 16px;
$marginL: 24px;

//font
$fontS: 10px;
$fontM: 14px;
$fontL: 16px;
$fontXL: 18px;