//color
$mainColor: #f5f1ef;
$darkColor: #373432;
$accentColor: #849ca8;
$baseColor: #a89084;

//margin
$marginS: 8px;
$marginM: 16px;
$marginL: 24px;

//font
$fontS: 10px;
$fontM: 14px;
$fontL: 16px;
$fontXL: 18px;